@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: local(''),
    url('../public/fonts/poppins_black_italic.ttf') format('truetype') /* Safari, Android, iOS */
}

@layer components {
    .fortnite-button-shadow {
        box-shadow: 6px 6px 0 black;
    }

    .fortnite-button-shadow:hover {
        box-shadow: 10px 10px 0 black;
    }

    .verified-font-shadow {
        text-shadow:
        0px 1.4px 2.2px rgba(0, 0, 0, -0.023),
        0px 3.4px 5.3px rgba(0, 0, 0, 0.037),
        0px 6.4px 10px rgba(0, 0, 0, 0.147),
        0px 11.4px 17.9px rgba(0, 0, 0, 0.285),
        0px 21.3px 33.4px rgba(0, 0, 0, 0.428),
        0px 51px 80px rgba(0, 0, 0, 0.56);
    }

    svg:not(:root) {
        overflow: hidden;
    }

    :not(svg) {
        transform-origin: 0 0;
    }

    .unban-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        padding: 20px;
    }

    .unban-error-message {
        font-size: 24px;
        color: darkred;
    }

    .unban-date {
        font-size: 24px;
    }
      
    .unban-time-left {
        font-size: 30px;
    }
}